body {
  background-color: rgba(187, 218, 166, 0.734);
}

h1 {
  color:rgba(38, 72, 182, 0.753);
  font-family: 'Rampart One', cursive;
  letter-spacing: 0.2cm;
  text-align: center;
}

h2{
  font-size: 35px;
}

li{
  font-style: italic;
  font-size: 20;
}

.border-image{
  border-radius: 41%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.resume{
  line-height: 32px;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.full-resume{
  margin-top: 40px;
  line-height: 20px;
  text-align: center;
}

.trybeSite{
  font-weight: bold; 
  text-decoration: none;
}

.socialMedia{
  margin-left: 60px;
  font-weight: bold;
}

.links:hover{
  color: red;
}

